.genel .icerik {
  display: flex;
  width: 90%;
  justify-content: space-between;
  height: calc(100% - 15vh);
  margin: 0 5%;
}
.genel .icerik .sol {
  width: 40%;

  padding: 45px 35px;
  height: 90%;
}

.genel .icerik .sag {
  width: 58%;

  height: 90%;
  padding: 45px 0;
  position: relative;
}
.genel .icerik .sag img {
  width: 100%;
  border-radius: 20px;
  height: auto;
}

.sepetim {
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 2;

  background: #fff;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.detail {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}
.price {
  font-size: large;
}
